<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExperienceIn</title>
</head>
<body>
    <h1>Bem-vindo ao Experiencein</h1>
    {% if perfis %}
        <ul>
        {% for perfil in perfis %}    
            <li>
                <a href="{% url 'exibir' perfil.id%}">{{ perfil.nome }}</a> / {{perfil.email}}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum perfil encontrado</p>
    {% endif %}
</body>
</html>